//- <template lang='pug'>
//- mixin area-list-item(click, name)
//-   li(@click=`${click} = !${click}`)= name
//-     i.material-icons list_alt
//-     i.el-icon-arrow-right

mixin nav-list-item(click, id, name, icon)
  li(@click=`${click}(${id})`)= name
    i.icon.material-icons= icon
    i.el-icon-arrow-right

mixin area-infor-list-item(name, icon, content)
  li
    i.material-icons= icon
    .area-infor__title= name
    .area-infor__content&attributes(attributes)= content

mixin area-select-list-item(name)
  li: label.radio
    input.radio__input(type="radio")
    span.radio__label=name
</template>