mixin navbar-item(name, link)
    li.nav-item(class=(navbar === name) ? 'active' : '')
        a(href=link).nav-link= name

//- +form-check('nameCheck1', 'customCheck1', 'label', 'inline', true)
mixin form-check(name, id, label, inline, checked)
    .custom-control.custom-checkbox(class=(inline === 'inline') ? 'custom-control-inline' : '')
        input.custom-control-input(type="checkbox", id=id, name=name, checked=checked)
        label.custom-control-label(for=id)= label

//- +form-check('nameRadio1', 'customRadio1', 'label', 'inline', true)
mixin form-radio(name, id, label, inline, checked)
    .custom-control.custom-radio(class=(inline === 'inline') ? 'custom-control-inline' : '')
        input.custom-control-input(type="radio", id=id, name=name, checked=checked)
        label.custom-control-label(for=id)= label

mixin form-control(...option)
    select.custom-select
        option= option

mixin form-number-button(number)
    .input-group.form-number-button
        .input-group-prepend
            button.btn.btn-outline-secondary(type='button') +
        input.form-control.text-center(type="tel", value=number)
        .input-group-append
            button.btn.btn-outline-secondary(type='button') -


mixin table-th(...items)
    each item in items
        th= item


mixin tabs(id, name, active)
    li.nav-item
        a.nav-link(data-toggle='tab', role='tab', href=id, class=(active === 'active') ? 'active' : '')
            span= name